* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

section h2,
section h3 {
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
}

body,
input,
textarea {
  font-family: "Montserrat", sans-serif;
}

header {
  font-family: "Whisper", cursive;
  font-size: 2.2rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

header,
footer {
  padding: 1rem 0;
  background: linear-gradient(0, #dce0dd, #c4e9e9);
  color: #000;
}

.container-flex {
  display: flex;
}

.container {
  max-width: 64rem;
  width: 100%;
  margin: 0 auto;
}

header > .container,
footer .container {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

nav {
  background: linear-gradient(0, #b8c1c1, #a3d8d8);
  padding: 2rem 0;
  display: none;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

nav li {
  list-style: none;
  display: inline;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 1rem;
}

nav li a {
  color: #000;
  text-decoration: none;
}

#img-igreja {
  max-width: 6rem;
  object-fit: cover;
}

.menu-hamburguer {
  width: 2rem;
  cursor: pointer;
}

.menu-hamburguer span {
  height: 0.125rem;
  width: 100%;
  display: block;
  background-color: #000080;
  margin-bottom: 0.25rem;
}

section {
  padding: 3rem 0;
}

section h2 {
  margin-bottom: 1rem;
}

.arms-list img {
  height: 4rem;
}

.arms-list li {
  display: inline;
  margin-right: 1.5rem;
  margin-top: 3rem;
  padding: 1rem;
}

section .container {
  align-items: flex-start;
}

section {
  padding: 1.5rem 0;
  color: #000;
}

section h2 {
  margin-bottom: 1rem;
}

section h3 {
  margin-bottom: 1rem;
}

section p {
  margin-bottom: 0.5rem;
  line-height: 2rem;
}

#contact .container {
  display: block;
}

.contact-methods {
  display: flex;
  justify-content: space-between;
}

.church-front {
  margin-right: 2rem;
}

form input,
form textarea,
form button {
  display: block;
  width: 20rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

form textarea {
  resize: none;
  height: 11.25rem;
}

form button {
  background-color: #22c7c7;
  color: #000;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #c4e9e9;
}

input:focus,
textarea:focus {
  outline-color: #22c7c7;
}

.social-links img {
  height: 1.5rem;
}

.social-links li {
  display: inline;
  margin-right: 0.5rem;
}

.social-links li a {
  text-decoration: none;
}

footer {
  background: linear-gradient(0, #dce0dd, #c4e9e9);
  color: #000;
  padding: 1rem 0;
  text-align: center;
  font-family: "Whisper", cursive;
  font-size: 2.2rem;
}

.campoErrado {
  color: rgb(0, 0, 139);
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0;
  padding: 1rem;
}

@media screen and (max-width: 767px) {
  header,
  footer {
    flex-direction: column;
  }

  html,
  body {
    overflow-x: hidden;
  }

  .arms-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    padding: 0 1rem;
    max-width: 90%;
  }

  .menu-hamburguer {
    display: none;
  }

  .nome-igreja {
    text-align: center;
    font-size: 2rem;
  }

  .botao-menu {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }

  button {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .submenu {
    display: block;
    width: 100%;
    position: relative;
    border: none;
    padding: 0;
  }

  .menu {
    display: none;
    padding: 1rem;
  }

  nav li {
    display: block;
    margin-bottom: 1rem;
  }

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .contact-methods {
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form input,
  form textarea,
  form button {
    display: block;
    width: 18rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
  }

  .church-front {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
}

/* Estilos para telas com largura mínima de 768px e máxima de 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 0 2rem;
  }

  nav li {
    display: block;
    font-size: 1rem;
    margin: 1rem;
  }

  .contact-methods {
    flex-direction: row;
    justify-content: space-around;
  }

  .nome-igreja {
    text-align: center;
    font-size: 3rem;
  }

  .botao-menu {
    display: none;
  }

  .arms-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 9rem;
  }

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .contact-methods {
    margin: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form input,
  form textarea,
  form button {
    display: block;
    width: 28rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
  }

  .endereco {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }

  .church-front {
    margin-left: 16rem;
  }
}

/* Estilos para telas com largura mínima de 1024px */
@media screen and (min-width: 1024px) {
  .botao-menu {
    display: none;
  }

  .church-front {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
}
