@media (max-width: 768px) {
  .carousel-item img {
    height: 17.5rem;
  }

  #cabecalho .container img {
    height: 5.7rem;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: -86%;
    z-index: 5;
    display: inline-block;
  }

  .btn-more {
    color: #fff;
    margin: 0;
    border: 0;
    background-color: #2929ce;
    box-shadow: 0 0 10px rgba(41, 41, 206, 0.6);
    width: 40%;
  }

  .section-title {
    font-family: Pacifico, cursive;
    margin-top: 1.3rem;
  }

  #missa .container img {
    margin-top: 1rem;
  }

  #myBtn:hover {
    background-color: rgba(88, 85, 172, 0.9);
    box-shadow: rgba(94, 61, 193, 0.9) 2px 2px 2.2px;
  }
}
